/* Reset de estilos */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0;}main{display:block;}h1{font-size:2em;margin:.67em 0;}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}fieldset{padding:.35em .75em .625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}

/* Variables */

:root {
  --blanco: #fff;
  --negro: rgb(24,16,16);
  --footer-color: #2c3e50;
  --titulo-fuente: 'Baloo Tammudu 2', sans-serif, cursive;
  --parrafo-fuente: 'Noto Sans', sans-serif;
}

/* Estilos generales */

* {
  box-sizing: border-box;
  margin: 0;
}

.skew-abajo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent var(--blanco) transparent;
}

.skew-arriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: var(--blanco) transparent transparent transparent;
}

.wave {
  height: auto;
  width: 100%;
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header */

nav{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

nav a{
  display: inline-block;
  color: var(--blanco);
  text-decoration: none;
}

header {
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: 48px;
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

header img {
  display: block;
  height: 450px;
  width: auto;
  object-fit: cover;
}

.texto{
  font-family: var(--parrafo-fuente);
  width: 50%;
  color: var(--blanco);
}

.texto h1{
  font-family: var(--titulo-fuente);
  font-size: 60px;
}

.texto h2{
  font-family: var(--titulo-fuente);
  font-size: 30px;
}

.texto a{
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  color: var(--blanco);
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid var(--blanco);
  border-radius: 16px;
}

/* Menú de navegación */

#icono {
  position: relative;
  z-index: 1;
}

.enlaces {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #C04848;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 1s all ease;
}

.uno {
  clip-path: circle(0% at 0 0);
}

.dos {
  clip-path: circle(150% at 0 0);
}

/* Estilos main */

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 52px 0;
  overflow: hidden;
}

.sobre-nosotros {
  font-family: var(--titulo-fuente);
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600px;
  text-align: center;
}

.slogan {
  margin-bottom: 24px;
  font-family: var(--titulo-fuente);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.parrafo {
  margin-bottom: 13px;
  font-family: var(--parrafo-fuente);
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: var(--negro);
}

.boton{
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  color: var(--negro);
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid var(--negro);
  border-radius: 16px;
}

.galeria {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.card {
  margin: 20px 0;
  width: 30%;
  height: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 4px var(--negro);
}

.cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}

.fondo {
  position: relative;
  height: 900px;
  background: url(../img/3.jpg) center fixed;
  overflow: hidden;
}

.fondo .contenedor {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-top: 130px;
  background: rgba(0, 0, 0, .5);
}

.fondo .skew-abajo {  
  border-color: transparent transparent var(--footer-color) transparent;
}

.titulo-cliente, .subtitulo-cliente {
  font-family: var(--titulo-fuente);
  color: var(--blanco);
  text-align: center;
  z-index: 2;
}

.titulo-cliente{
  font-size: 56px;
  margin-top: 48px;
}
.subtitulo-cliente {
  margin-bottom: 64px;
  font-size: 24;
  font-weight: 300;
}

.clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 64px;
}

.cliente {
  width: 30%;
}

.cliente img {
  width: 100%;
}

/* Footer */

footer {
  padding: 32px 0;
  background: var(--footer-color);
}

footer h3 {
  margin: 10px 0;
  font-family: var(--titulo-fuente);
  color: var(--blanco);
  text-align: center;
}

/* Formulario */

form {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  color: var(--blanco);
  text-align: left;
}

form h2 {
  font-family: var(--titulo-fuente);
  font-size: 40px;
  text-align: center;
}

form div {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
}

form label {
  font-family: var(--titulo-fuente);
  font-size: 24px;
}

form input, form textarea{
  width: 700px;
  margin-top: 5px;
  padding: 20px;
  background: rgba(0, 0, 0, .5);
  font-family: var(--parrafo-fuente);
  color: var(--blanco);
  border: none;
  outline: none;
  border-radius: 8px;
}

form input {
  height: 32px;
}

form input[type=submit] {
  font-family: var(--titulo-fuente);
  font-size: 26px;
  line-height: 13px;
}

form input[type=submit]:hover {
  cursor: pointer;
}

/* Creditos Fotografias */

.fotografos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}


.fotografos, .fotografos a {
  color: var(--blanco);
  font-family: var(--parrafo-fuente);
  font-weight: 300;
  line-height: 32px;
}

.creditos h3 {
  margin-top: 44px;
  font-size: 30px;
  text-align: center;
}

.fotografos a {
  font-weight: lighter;
  font-style: italic;
}